.App {
  text-align: center;
 
}

#app {
  padding: 100px;
  font-family: 'Avenir LT Std', sans-serif;
}

.form-control {
  font-size: 2rem;
  padding: 25px 15px;
}

.filter-list{
  align-items: center;
  align-content: center;
  width: 50%;
}